

<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="over">
      <p>Tortas</p>
    </mat-drawer>
    
    <app-card title="Torta de Chocolate" subtitle="Receta de torta de choco" imageSource="assets/tortadechocol.jpeg" description="chocolate, harina, huevos"></app-card>

   <div class="example-button-container">
    <button routerLink="/recetas/Agregar" mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon">
      <mat-icon>plus_one</mat-icon>
    
    </button> </div>
</mat-drawer-container>

 